body {
    display: flex;
    justify-content: center;
    margin-top: 100px; 
    background: green;   
}
input {
    border: 2px solid;
    height: 20px;
    margin-top: 5px;
    background: gainsboro;
}

h3 {
    color: red;
}
textarea {
    border: 2px solid rgb(0, 4, 255);
    background: yellowgreen;
}